{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

{% for servicio in posts %}
<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" >
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-upper">{{servicio.titulo}}</span>
          <span class="section-heading-lower">{{servicio.contenido}}</span>
        </h2> 

          <span class="section-heading-lower">Autor: {{servicio.autor}}</span> <br>
          <span class="section-heading-lower">Ultima Actualizacion: {{servicio.updated}}</span>
      </div>
    </div>
  </div>
</section>

  {% endfor %}
<section>
  <div style="width: 75%; background-color: white; margin: auto; text-align: center;"> Pruebas
    Categorias:
    {% for servicio in posts %}
        <!-- {{servicio.categorias.all}}-->
            {% for categoria in servicio.categorias.all %}
            <a href="{% url 'Categoria' categoria.id %}" class="linkCategorias">
              {{categoria.nombre}}  &nbsp;&nbsp;&nbsp;&nbsp;
          </a> 
            {% endfor %}
    {% endfor %}
    </div>
</section>

{% endblock %}